In [1]:
# Initial imports
import pandas as pd
from sklearn.preprocessing import StandardScaler

## Loading Original Shopping Data into Pandas

In [2]:
# Load data into a Pandas DataFrame
df_shopping = pd.read_csv("https://static.bc-edx.com/mbc/ai/m2/datasets/shopping-data.csv")

# Drop the CustomerID column
df_shopping = df_shopping.drop(columns=["CustomerID"])

# Display sample data
df_shopping.head()

  Card Type  Age  Annual Income  Spending Score
0    Credit   19          15000              39
1    Credit   21          15000              81
2     Debit   20          16000               6
3     Debit   23          16000              77
4     Debit   31          17000              40

## Scaling the Numeric Columns

In [4]:
# Scaling the numeric columns
shopping_data_scaled = StandardScaler().fit_transform(df_shopping[["Age", "Annual Income", "Spending Score"]])

# Creating a DataFrame with with the scaled data
df_shopping_transformed = pd.DataFrame(shopping_data_scaled, columns=["Age", "Annual Income", "Spending Score"])
                                  
# Display sample data
df_shopping_transformed.head()

        Age  Annual Income  Spending Score
0 -1.424569      -1.738999       -0.434801
1 -1.281035      -1.738999        1.195704
2 -1.352802      -1.700830       -1.715913
3 -1.137502      -1.700830        1.040418
4 -0.563369      -1.662660       -0.395980

## Transforming the `Card Type` Column using `get_dummies()`

In [5]:
# Transform the Card Type column using get_dummies()
card_dummies = pd.get_dummies(df_shopping["Card Type"])

# Display sample data
card_dummies.head()

   Credit  Debit
0       1      0
1       1      0
2       0      1
3       0      1
4       0      1

## Concatenating All the Transformed Data into a Single DataFrame

In [7]:
# Concatenate the df_shopping_transformed and the card_dummies DataFrames
df_shopping_transformed = pd.concat([df_shopping_transformed, card_dummies], axis=1)

# Display sample data
df_shopping_transformed.head(100)

         Age  Annual Income  Spending Score  Credit  Debit  Credit  Debit
0  -1.424569      -1.738999       -0.434801       1      0       1      0
1  -1.281035      -1.738999        1.195704       1      0       1      0
2  -1.352802      -1.700830       -1.715913       0      1       0      1
3  -1.137502      -1.700830        1.040418       0      1       0      1
4  -0.563369      -1.662660       -0.395980       0      1       0      1
..       ...            ...             ...     ...    ...     ...    ...
95 -1.065735      -0.021375        0.069879       1      0       1      0
96  0.584899      -0.021375       -0.124229       0      1       0      1
97 -0.850435      -0.021375       -0.007764       0      1       0      1
98  0.656665       0.016795       -0.318337       1      0       1      0
99 -1.352802       0.016795       -0.046586       1      0       1      0

[100 rows x 7 columns]